@charset "UTF-8";
*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none; color: #333;}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');

body {font-family: "Inter", sans-serif;   /* inter랑 나눔고딕이랑 같은듯..? 그래서 추가안함 */}