@charset "UTF-8";

@import url(reset.css);

.targetGnb{color: orangered;}
.centerbox{/* margin: 0 auto; */ margin-left: auto;  margin-right: auto; max-width: 1048px;}

.light{font-weight: lighter;}
.bold{font-weight: bold;}
.section_title{font-size: 25px; font-weight: 600;}

.wrap{max-width: 1920px; position: relative; margin: 0 auto;}  /* !! poa기준1 !! */

header{max-width: 1060px; margin: 0 auto;}
header .hd1{display: flex; justify-content: space-between; margin-top: 15px;}

header .hd1 span.sns{border: 1px solid #D0D0D0; padding:4px 3px 6px 8px; border-radius: 8px; font-size: 15px; display: flex; align-items: center;}
/* header .hd1 span.sns::after{content: ''; display: inline-block; width:13px; height: 13px; margin-left:4px; margin-bottom: -4px; background-image: url(../img/chevronRightHeader.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;} */
header .hd1 span.sns .btn{display: inline-block; width:13px; height: 13px; margin-left:4px; margin-bottom: -4px; background-image: url(../img/chevronRightHeader.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}

header .hd1 > ul{display: flex; gap: 20px; font-size: 15px; }
header .hd2{max-width: 1060px; text-align: center; margin:1px 0 47px;}
header .hd2 > img{width: 142px;}
header .hd2 .reactHamburger{display: none;}  /* 반응형하며 추가함 */
header .hd3 .gnb{display: flex; justify-content: space-between; font-size: 18px; }

header .hd3 .gnb > .lnbbgbox{position: absolute; width:100%; height: 310px; z-index: 2; left: 0; top: 181px; transition: 0.3s; visibility: hidden;}

header .hd3 .gnb > li{position: relative; width: 100%;}  /* !! poa기준2 !! */
header .hd3 .gnb > li > a{display: inline-block; padding:0 30px 20px; transition: 0.3s;}
header .hd3 .gnb > li:first-child > a{padding-left: 0;}

header .hd3 .gnb > li > .lnb{position: absolute; top: 25px; left: 0; z-index: 5; height: 0; overflow: hidden; display: flex; flex-direction: column; width: 100%; visibility: hidden; transition: 0.2s;}
header .hd3 .gnb > li > .lnb > li > a{font-size: 15px; padding-top:10px; display: inline-block; width: 100%; padding-left: 30px;}
header .hd3 .gnb > li:first-child > .lnb > li > a{padding-left: 0;}
header .hd3 .gnb > li > .lnb > li:first-child{margin-top: 20px;}

header .hd3 .gnb:hover > li > .lnb{height: 290px; visibility: visible; transition: 0.3s;}
header .hd3 .gnb:hover > .lnbbgbox{height: 290px;  background: #fff; transition: 0.3s; visibility: visible;}
header .hd3 .gnb:hover  li  a{color: #555;}
header .hd3 .gnb > li:hover > a{color: orangered;  border-bottom: 1px solid orangered;} 
header .hd3 .gnb > li > .lnb > li:hover > a{color: orange}

.hero{position: relative; max-width: 1920px; margin: 0 auto;}
.hero img{max-width: 100%;}
.hero .searchbox{max-width: 1030px; width: 80%; border: 1px solid rgba(255, 244, 244, 0.8); border-radius: 50px; background: rgba(255, 244, 244, 0.2); backdrop-filter: blur(4px); display: flex; align-items: center; position: absolute; top: 21%; left:50%; transform: translateX(-50%);
padding: 20px 50px;}
.hero .searchbox > input{flex-grow: 1; border: none; outline: none; background: transparent; font-size: 30px; color:#333;  line-height: normal;
  &::placeholder{color:rgba(255, 244, 244, 0.7);}
}
.hero .searchbox > button{border: none; background: transparent; cursor: pointer; margin-left: 15px; width: 40px;}   



section:first-child{margin-top: 150px;}
section{margin-top: 120px;}
section:last-child{margin-bottom: 150px;}

.section1{display: flex; justify-content: space-between; flex-wrap: wrap; gap: 50px;}
/* 반응형 하면서 fw:w, gap:50px 추가함 */
.section1 .mains1-1{width: 297px;}
.section1 > .mains1-1 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 8px;}
.section1 > .mains1-1 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover; cursor: pointer;}
.section1 .mains1-1 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 15px; cursor: pointer;}
.section1 .mains1-1 .lineLeft{display: flex; flex-direction: column;}
.section1 .mains1-1 .lineLeft .divide{font-size: 12px; color: #333;}

.section1 .mains1-2{width: 294px; position: relative;}
.section1 > .mains1-2 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 7px;}
.section1 > .mains1-2 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover; cursor: pointer;}
.section1 .mains1-2 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 32px; cursor: pointer;}

.section1 .mains1-2::before{content: ''; height: 220px; width: 1px; background: #e3e3e3; position: absolute; bottom: 0; left:-1.8vw}
.section1 .mains1-2::after{content: ''; height: 220px; width: 1px; background: #e3e3e3; position: absolute; bottom: 0; right: -1.8vw;}


.section1 .mains1-3{width: 295px;}
.section1 > .mains1-3 > .s1title{font-size: 22px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; padding-bottom: 8px;}
.section1 > .mains1-3 > .s1title::after{content: ''; display: inline-block; width: 26px; height: 26px; background: url(../img/arrowRight.png); background-size: cover; cursor: pointer; cursor: pointer;}
.section1 .mains1-3 .line{display: flex; justify-content: space-between; align-items: end; margin-top: 15px; cursor: pointer; cursor: pointer;}


.section1 .mains1-3 .lineLeft{display: flex; flex-direction: column;}
.section1 .mains1-3 .lineLeft .divide{font-size: 12px; color: #333;}
.section1 .mains1-3 .lineRight{font-size: 12px; padding: 3px 11px; background: #F3F3F3; border-radius: 4px;}
.section1 .mains1-3 .lineRight > a{color: #5a6169;}
.section1 .mains1-3 .lineRight.ing{background: #EE741E;}
.section1 .mains1-3 .lineRight.ing > a{color: #fff; font-weight: 600;}

.section1 .mains1-3 .lineRight.ing:hover{background: #F68433;}







.section2{width: 100%; /* min-height: 400; aspect-ratio: 1920/605; *//*  height: clamp(400px,45vw,605px); */ background: url(../img/main/section2_bg.png); display: flex; align-items: center; flex-direction: column; padding-bottom: 2.6vw;}
.s2title{text-align: center; padding:2.9vw 0 2vw;}
/* .togglebox{display: flex; gap: 10px; position: absolute; top: -60px; right: 5px; cursor: pointer;} */
.position{position: relative;}   
.cardBox{display: flex; gap: 1.5%; max-width:1100px; width: 90vw; /* overflow-x: hidden; */ position: relative; transition: none;}
/* 추천책 여러개로 늘리고 토글로 넘길때 쓰려고 overflow hidden 이랑 width 줌 */
.cardBox .card{/* width: 337px;  height: auto;*/ border-radius: 8px; background: rgba(255, 255, 255, 0.6); display: flex; border: 1px solid rgba(185,185,185, 0.4); transition: 0.3s; flex: 0 0 32%; aspect-ratio: 337/425; height: 80%; position: relative; perspective: 1000px; }
/* .cardBox .card img{width: 80%; height: auto; margin: 35px 47px;} */

.cardBox:hover .card{transform: scale(0.9);}
.cardBox .card:hover{background: rgba(255, 255, 255, 0.8); border: 1px solid rgba(255,255,255, 1); transform:scale(1);} 
.card:hover .front{transform: rotateY(-180deg);}
.card:hover .back{transform: rotateY(0deg);}

.card a{position: relative; display: block; width: 100%; height: 100%;}
.card .front{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;
backface-visibility: hidden; transition: .3s; position: absolute; top: 0; left: 0; transform: rotateY(0deg);}
.card .front > figure{height: 90%; width: auto; }
.card .front > figure > img{height: 100%;}

.card .back{backface-visibility: hidden; transition: .3s; position: absolute; top: 0; left: 0;  margin: 18px 0 0 19px;  transform: rotateY(180deg);}
.card .back .bookinfo{display: flex; gap: 9px; }
.card .back .bookinfo figure{width: 83px; height: auto; display: flex; justify-content: center; align-items: center;}
.card .back .bookinfo figure img{width: 100%; height: auto;}
.card .back .bookinfo .textinfo{ border: 1px solid #000;}
.card .back .bookinfo .textinfo .line{font-size: 14px;margin-bottom: 5px; display: flex; gap: 10px;}
.card .back .bookinfo .textinfo .line:first-child{font-size: 16px; font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 80%; border: 1px solid red;}
.card .back .bookinfo .textinfo .line:nth-child(2){margin-top: 2px;}
.card .back .textoutline{/* width: 305px; */ width: 90%; overflow: hidden;  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 11; white-space: normal; margin: 22px 0px; font-size: 15px; font-weight: 300; line-height: 140%; color: #222; word-break: break-all; }






.section3{display: flex; min-height: 150px; gap: 5px;}
.section3 .s3left{width: 350px; background: #ee741e; padding: 15px 20px 11px 80px; display: flex; flex-direction: column; align-items: end; box-sizing: border-box;}
.section3 .s3left .s3title{font-size: 25px; font-weight: lighter; color: #fff; flex-grow: 1;}
.section3 .s3left .s3desc{font-size: 16px; color: #fffcfa; margin: 4px 0; text-align: right;}

.section3 .s3right{flex-grow: 1; background:#FEFFF0; display: flex; justify-content: space-between;}
.section3 .s3right .s3title{font-size: 25px; font-weight:lighter; color: #ce723b; padding: 15px 0 0 20px; box-sizing: border-box; /* width: 150px; */ flex-grow: 1; }
.section3 .s3right .s3content{display: flex; flex-wrap: wrap; margin-right: 35px; gap: 0 30px;  width: 500px; margin-top: 23px;}
.section3 .s3right .s3content .line{flex-grow: 1; width: 40%; box-sizing: border-box; display: flex; justify-content: space-between; /* width: 245px; */}
.section3 .s3right .s3content .line .time{color: #454240;}



.s4title{text-align: center; margin-bottom: 40px;}
.section4 .grid{display: grid; grid-template-columns:1fr 1.3fr 1.3fr 1.3fr; grid-template-rows: 180px 150px 166px ; gap:20px;}

  /* 여기하는 중 */
.section4 .grid li:nth-child(1){grid-row: span 2; background: #EE741E; box-shadow:0 2px 2px rgba(0, 0, 0, 0.25);}
.section4 .grid li:nth-child(2){grid-column: span 2; background: url(../img/main/s4-1.jpg); background-size: cover;}
.section4 .grid li:nth-child(3){background: url(../img/main/s4-2.jpg); background-size: cover;}
.section4 .grid li:nth-child(4){grid-column: span 3; background: url(../img/main/s4-3.jpg); background-size: cover;}
.section4 .grid li:nth-child(5){grid-column: span 2; background: url(../img/main/s4-4.jpg); background-size: cover;}
.section4 .grid li:nth-child(6){grid-column: span 2; background: #FEFFF0; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); position: relative;}


.section4 .grid li a{font-size: 30px; font-weight: lighter; margin:20px 0 0 20px; display: flex; box-sizing: border-box;}
.section4 .grid > li:nth-child(6) > a{font-size: 30px; font-weight: lighter; 
position: absolute; bottom: 20px; right: 20px;}
.section4 .grid li:nth-child(1) a{color: #fff;}



footer{height: 230px; background: #3E3734; display: flex; align-items: center; justify-content: center;}
footer > p{font-size: 14px; color: #fff; width: 378px;}





@media screen and (max-width:1100px){
  header{}
  header .hd2{position: relative;}
  header .hd2 .reactHamburger{position: absolute; cursor: pointer; left: 5px; bottom: -3px; display: inline-block;}
  /* header .hd2 > img{width: 142px;}   > 로고크기 */

  header .hd3 .gnb{display: none;}
  header .hd3 .gnb > li:first-child{margin-left: 2vw;}

  .hero .searchbox{display:none;}

  .section1 .mains1-2::before{height: 220px; width:0; background: #e3e3e3; position: absolute; bottom: 0; left:-1.8vw}
  .section1 .mains1-2::after{height: 220px; width: 0; background: #e3e3e3; position: absolute; bottom: 0; right: -1.8vw;}

  .section1{/* border: 1px solid #000; */ justify-content: center;}
  /* .section1  > * {border: 1px solid #000;} */
  .section1 .mains1-3{}
  /* 점심후 수정하기
      섹션1의 내려간 last-child 위치 first-child랑 같은 x축선상 위치
      */
  

  .section2{width: 100vw;}
  .section2 .cardBox{width: 90vw;}
  .section2 .cardBox .card{width: 30vw; height: auto;}
  .section2 .cardBox .card img{/* width: 80%; */}



  .card .back .textoutline{-webkit-line-clamp: 7;}
/* 
.card .back{backface-visibility: hidden; transition: .3s; position: absolute; top: 0; left: 0;  margin: 18px 0 0 19px;  transform: rotateY(180deg);}
.card .back .bookinfo{display: flex; gap: 9px; }
.card .back .bookinfo figure{width: 83px; height: auto; display: flex; justify-content: center; align-items: center;}
.card .back .bookinfo figure img{width: 100%; height: auto;}
.card .back .bookinfo .textinfo{}
.card .back .bookinfo .textinfo .line{font-size: 14px;margin-bottom: 5px; display: flex; gap: 10px;}
.card .back .bookinfo .textinfo .line:first-child{font-size: 16px; font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.card .back .bookinfo .textinfo .line:nth-child(2){margin-top: 2px;}
.card .back .textoutline{overflow: hidden;  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 11; white-space: normal; margin: 22px 0px; font-size: 15px; font-weight: 300; line-height: 140%; color: #222;}

 */
  

  /* .section3{flex-wrap: wrap; height: auto;  justify-content: center; gap: 10px;} */
  .section3{flex-direction: column; height: auto;  align-items: center; gap: 10px;}
  .section3 .s3left{width: 690px; }
  .section3 .s3right{min-height: 150px; width: 690px; flex-grow: 0;}

  .section4 .grid{display: flex; flex-wrap: wrap; justify-content: center;}
  .section4 .grid li{width: 40vw; height: 155px;}

}

/* @media screen and (max-width:1008px)  {

  .sectionbox {display: flex; flex-direction: column; justify-content: center;}
  .sectionbox .section1{display: inline-flex; flex-direction: row; width: 80%;}
  
} */
@media screen and (max-width:685px)  {

  /* section3 모바일 디자인! */

  .s2title{text-align:left; padding:56px 0 40px 70px; width: 100%;}
/*   .section2{padding-bottom: 110px;}
  .togglebox{display: flex; gap: 10px; position: absolute; top:auto; bottom: -60px; right: 5px; cursor: pointer;} */

.card{border: 1px solid black;}
.card .back{border: 1px solid red;}
.card .back .textinfo{width: 94%;}
.card .back .bookinfo figure{display: none;}
.card .back .textoutline{display: none;}





.section3{padding:0 10px; }    /* 브라우저에 너무 붙어서 패딩줌 */
.section3 .s3right{flex-direction: column; width: 100%;}
.section3 .s3right .s3content{flex-direction: column; gap: 20px; margin: 23px 35px 23px 20px; width: 100%; }
.section3 .s3right .s3content .line{width: 235px;}
.section3 .s3left{width: 100%;}
.section4 .grid li a{font-size: 22px; font-weight: 300; height: 100%; width: 100%; margin: 0; justify-content: center; align-items: center;}
.section4 .grid > li:nth-child(6) > a{font-size: 22px; font-weight: 300; 
position: relative; bottom: 0; right: 0;}
.section4 .grid > li:nth-child(2) a{background: rgba(0, 0, 0, 0.4); color: #fff;}
.section4 .grid > li:nth-child(3) a{background: rgba(0, 0, 0, 0.4); color: #fff;}
.section4 .grid > li:nth-child(4) a{background: rgba(0, 0, 0, 0.4);}
.section4 .grid > li:nth-child(5) a{background: rgba(0, 0, 0, 0.4); color: #fff;}

}



/* --------------------------sub page ----------------------- */
.subpage > li > a{color: #5A6169;}
li.present_gnb > a{color: #000;}
.lnb_sibling{display: flex; margin-top: 47px; margin-bottom: 150px;}
.lnb_sibling > li{display: inline-block; background: #5F4E41; /* padding-right: 67px; */ padding: 19px 67px 17px 0;}
.lnb_sibling > li > a{color:#CFCAC6;}
.lnb_sibling > li:first-child{padding-left: 160px;}
.lnb_sibling > li:last-child{padding-right:50px;}
ul.lnb_sibling > li.present_lnb{}
ul.lnb_sibling > li.present_lnb > a{color:#fff; transform: translateY(-5px); display: inline-block;}
/* header .hd3 .gnb.subpage > li.present_gnb > ul.lnb > li > a.present_lnb {color: red; border: 1px solid red !important;} */


.contentWrap{width: 1600px; position: relative; margin-left: auto; margin-right: auto;}
.page_name{font-size: 30px; letter-spacing: -6%; display: flex; padding-left: 21px; margin-bottom: 20px;}
.page_name > figure > img{width: 29px; margin-top: 8px; margin-left: 10px;}

form{display: inline-block; position: absolute; top: 60px; right: 6px; transform: translateY(-100%);}   /* 여기수정중! 버튼모양변경하기 */
form #standard{padding:8px 8px 8px 10px; font-size: 20px; font-family: "Inter", sans-serif; border-radius:5px; border: 1px solid #B7B7B7; }
form #standard option{font-size: 20px;}


.contentList li{display: flex; width: 1600px; border-bottom: 1px solid #E3E3E3; padding: 23px 0 50px;}
.contentList li:first-child{padding-top:53px; border-top: 1px solid #4D4D4D;}  
.contentList li:last-child{border-bottom: 1px solid #4D4D4D;}
.contentList li img{width: 150px; margin-left: 32px;}
.contentList li .BinfoSet{display: flex; flex-direction: column; margin-left: 43px; justify-content: center;}
.Binfo1{font-size: 14px; letter-spacing: -12%; display: flex; gap:10px;}
.Binfo1 span:nth-child(1){color: #717070;}
.Binfo1 span:nth-child(2){color: #EE741E;}
.Binfo2{font-size: 20px; letter-spacing: -10%; font-weight: 500; margin: 5px 0 15px;}
.Binfo2 a{color: #111;}
.Binfo3{}
.Binfo3 .line{color: #222;}
.Binfo3 .line .Dname{margin-right: 35px;}
.Binfo3 .line .Dname.chr4{margin-right:20px;}


.pagenation{display: flex; align-items: center; margin:30px auto 150px; width: fit-content;}
.pagenation > figure{width: 19px; height: 19px; flex-shrink: 0;}
/* 제미나이가 아이콘이 flex 환경에서 찌그러지지 않게 하기 위해 flex-shrink:0; 주라고 해서 추가함 */
.pagenation > figure > img{width: 19px; height: 19px;}
.pagenation .pageNum{padding: 7px 14px; font-weight: 300;}
.pagenation .pageNum > a{color: #000;}
.pagenation .presentPage{border-bottom: 1.5px solid #4d4d4d; box-sizing: border-box; font-weight: 400; }